<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			输入代码：<input type="text" v-model="userNumber" name="" id="" value=""/>
			<div v-for="Gj in gj">
				<div v-if="userNumber==Gj.key">
				  国家名：{{Gj.name}}<br>
				  首都：{{Gj.code}}<br>
				  代码：{{Gj.key}}<br>  
		        </div>
				</div>
				</div>
		<script type="text/javascript">
			let vl=new Vue({
				el:'#app',
				data:{
				   userNumber:'',
				   gj:[
					   {name:'中国',code:'北京',key:'China'},
					   {name:'英国',code:'伦敦',key:'yg'},
					   {name:'美国 ',code:'纽约',key:'mg'},
					   {name:'日本',code:'东京',key:'rb'},
					   {name:'韩国',code:'首尔',key:'hg'}
				   ]
				}
			})
		</script>
	</body>
</html>
